.container-app {
	display: grid;
	width: 100%;
	height: 100vh;
	grid-template-areas:
		"sideBar topBar"
		"sideBar  feed"
		"media  media";
	grid-template-columns: 220px 1fr;
	grid-template-rows: 0.07fr 1fr 0.1fr;
}

.cont-topBar {
	grid-area: topBar;
	background-color: #fff;
}
.cont-sideBar {
	grid-area: sideBar;
	background-color: #fff;
}
.cont-feed {
	grid-area: feed;
	background-color: #fff;
}
.cont-media {
	grid-area: media;
	background-color: #fff;
}

/* TopBar */
/* SideBar */
/* Feed */
/* MediaPlayer */

.cont-media {
	display: grid;
	grid-template-columns: 120px 1fr 0.4fr;
	/* align-items: center;
	justify-items: center; */
}
