.container-app {
	display: grid;
	width: 100%;
	height: 100vh;
	grid-template-areas:
		"sideBar topBar"
		"sideBar  feed"
		"media  media";
	grid-template-columns: 220px 1fr;
	grid-template-rows: 0.07fr 1fr 0.1fr;
}

.cont-topBar {
	grid-area: topBar;
	background-color: #fff;
}
.cont-sideBar {
	grid-area: sideBar;
	background-color: #fff;
}
.cont-feed {
	grid-area: feed;
	background-color: #fff;
}
.cont-media {
	grid-area: media;
	background-color: #fff;
}

/* TopBar */
/* SideBar */
/* Feed */
/* MediaPlayer */

.cont-media {
	display: grid;
	grid-template-columns: 150px 1fr 0.4fr;
}

input[type="range"] {
	/*removes default webkit styles*/
	appearance: none;
	/*required for proper track sizing in FF*/
	width: 100%;
	cursor: pointer;
}
input[type="range"]::-webkit-slider-runnable-track {
	width: 300px;
	height: 5px;
	background: #64748b;
	/* background: #e2e8f0; */

	border: none;
	border-radius: 5px;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background: #f87171;
	margin-top: -4px;
}

/* loader */
.loader {
	color: #f87171;
	font-size: 45px;
	text-indent: -9999em;
	overflow: hidden;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	position: relative;
	transform: translateZ(0);
	animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
	0% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
			0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	5%,
	95% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
			0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	10%,
	59% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
			-0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
			-0.297em -0.775em 0 -0.477em;
	}
	20% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
			-0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
			-0.749em -0.34em 0 -0.477em;
	}
	38% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em,
			-0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
	}
	100% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
			0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
}

@keyframes round {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
